.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  grid-template-rows: repeat(6, 195px);
  grid-gap: 20px;

  .card {
    max-height: 330px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    position: relative;
    .card-img {
      transition: all ease 0.3s;
    }
    .card-img-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-title {
      font-size: 28px;
    }
    .badge {
      font-size: 14px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    img {
      opacity: 0.3;
    }
  }
}

.card:hover > .card-img {
  opacity: 0.8;
  filter: blur(3px);
  transform: scale(1.2);
}

.card-img-overlay:hover > .card-title {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
}

.hero-container {
  // max-width: 650px;
  height: calc(100vh);

  .title {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .subtitle {
    p {
      font-size: 30px;
      border-left: 5px solid $primary;
    }
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .person {
    display: flex;
    svg {
      #Hoodie {
        fill: $secondary;
      }
    }
  }
  .floating {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  .avatar {
    margin-bottom: 10px;
    svg {
      width: 270px;
    }
  }
  .social-pills {
    .social-item {
      padding: 10px;
      svg {
        font-size: 44px;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include media-breakpoint-down(sm) {
  .hero-container {
    .occupation-container {
      font-size: 14px !important;
    }
    .hero-title-container {
      .title {
        h2 {
          font-size: 1.7rem;
          margin-bottom: 5px;
        }
      }
      .subtitle {
        p {
          font-size: 19px;
          border-right: 5px solid $primary;
        }
      }
    }
    .avatar {
      svg {
        height: 200px;
      }
    }
  }
  .skills-container {
    grid-template-rows: repeat(6, 200px);
    .card {
      .card-title {
        font-size: 22px;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
  }
  .hero-container {
    .occupation-container {
      font-size: 22px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 225px);
  }
}
