nav {
  background-color: $body-bg;
  .navbar-nav {
    &.active {
      border-left: 2px solid $primary;
    }
  }
}

.dynamic-modal {
  .form-control {
    color: white;
  }
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(xs) {
  .nav-item {
    font-size: $font-size-sm;
    &.active {
      border-bottom: 0px;
    }
  }
  .container {
    padding: 0px !important;
  }
}
