header {
  .nav-item {
		color: $text-muted;
		margin: 0px 5px;
		&.active {
			color: white;
			border-bottom: 2px solid white;
		}
		&:hover {
			color: map-get($theme-colors, "light");
		}
	}
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(xs) {
	.nav-item {
    font-size: $font-size-sm;
    &.active {
			border-bottom: 0px;
		}
	}
	.container {
		padding: 0px !important;
	}
}