.payment-container {
  height: calc(100% - 48px);
  .form-control {
    color: white;
  }
}

.payment-container > div {
  width: 500px;
}

@include media-breakpoint-down(xs) {
  .payment-container > div {
    height: 100%;
    width: 100%;
  }
}
