$theme-colors: (
	"primary": #005dc1,
	"secondary": #2b3238,
	// "danger": #ff4136,
);

$dark: #1d2023;
$body-bg: #111;

// Fonts
$font-family-base: 'Open Sans', 'Helvetica Neue', Arial, sans-serif,
  -apple-system;
$font-family-heading: 'Lora', 'Helvetica Neue', Arial, sans-serif, -apple-system;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.6;

$headings-font-weight: 400;


// Modal
$modal-content-color: white;
$modal-content-bg: $dark;
$modal-backdrop-opacity: 0.8;
$modal-header-border-color: theme-color("secondary");
$modal-fade-transform: scale(.8);
// $modal-content-border-color: gba($black, .2) !default;
// $modal-content-border-width:        $border-width !default;
// $modal-content-border-radius:       $border-radius-lg !default;

// Close
$close-color:                       white !default;
$close-text-shadow:                 0 1px 0 black !default;

$grid-breakpoints: (
  xs: 0,
  sm: 715px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
  xxxl: 1920px
);